$theme-darker-blue: #004578 ;
$theme-dark-blue: #005a9e;
$theme-dark-blue-alt: #106ebe;
$theme-primary: #0078d4;
$theme-secondary: #2b88d8;
$theme-tertiary: #71afe5;
$theme-light: #c7e0f4;
$theme-lighter: #deecf9;
$theme-lighter-alt: #eff6fc;
$theme-light-orange: #ffc100;
$theme-orange: #ff9a00;
$theme-orange-alt: #ff7400;
$theme-dark-orange: #ff4d00;
$theme-darker-orange: #ff0000;

