/* You can add global styles to this file, and also import other style files */
html, body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


$interval: 5;


@for $i from 1 through 20 {
    // column widths e.g wp-5 (increments of 5%)
    .wp-#{$i * $interval} {
        width: percentage($i * $interval/100);
    }

    // row/column heights e.g e.g hp-5 (increments of 5%)
    .hp-#{$i * $interval} {
        height: percentage($i * $interval/100);
    }
}


@for $i from 1 through 200 {
    // column widths e.g wp-5 (increments of 5%)
    .wpx-#{$i * $interval} {
        width: $interval * $i + px;
    }

    // row/column heights e.g e.g hp-5 (increments of 5%)
    .hpx-#{$i * $interval} {
        height: $interval * $i + px;
    }
}

@for $i from 1 through 5 {
    .p-#{$i} {
        padding: $i * 0.25 + rem;
    }

    .pl-#{$i} {
        padding-left: $i * 0.25 + rem;
    }

    .pr-#{$i} {
        padding-right: $i * 0.25 + rem;
    }

    .pb-#{$i} {
        padding-bottom: $i * 0.25 + rem;
    }

    .pt-#{$i} {
        padding-top: $i * 0.25 + rem;
    }

    .m-#{$i} {
       margin: $i * 0.25 + rem;
    }

    .ml-#{$i} {
       margin-left: $i * 0.25 + rem;
    }
    
    .mr-#{$i} {
       margin-right: $i * 0.25 + rem;
    }

    .mb-#{$i} {
       margin-bottom: $i * 0.25 + rem;
    }

    .mt-#{$i} {
       margin-top: $i * 0.25 + rem;
    }
}
