@import "global-mixin";

:host {
    @include flex-column(flex-start, flex-start);
    height: 100%;
    overflow: hidden;
    // background-color: #e9ecef;

}

.space-between {
    @include flex-row(space-between, center);
}

.jumbotron {
    background-color: white;
}

.detail-list {
    &-item {
        border: 1px solid grey;
        border-radius: 3px;
        box-shadow: 3px 5px 5px darken($color: grey, $amount: 2);
        height: 3rem;
            
        &:hover {
            background-color: lightgrey;
        }
    }
}

.fill-height{
    height: calc(100% - 200px);
}
