<div class="wpx-800 hpx-600">
    <h3>ACTIVITY MONITOR</h3>

    <div class="detail-list p-3">
        <div class="detail-list-item m-1 pl-3 pr-3 space-between w-100">
            <span>SAVE EMAIL DETAILS</span>
            <span><i class="fas fa-arrow-circle-right"></i></span>
        </div>
        <div class="detail-list-item m-1 pl-3 pr-3 space-between w-100">
            <span>VIEW LAST ACTIVITIES</span>
            <span><i class="fas fa-arrow-circle-right"></i></span>
        </div>
        <div class="detail-list-item m-1 pl-3 pr-3 space-between w-100">
            <span>CREATE REPORT</span>
            <span><i class="fas fa-arrow-circle-right"></i></span>
        </div>
    </div>
</div>