<div *ngIf="activityCheck.menu" id="menu" class="jumbotron">
    <h1 class="display-4">ACTIVITY MONITOR</h1>
    <p class="lead">This is a proof of concept. You can create report by selecting activities that have been stored for the date.</p>
    <hr class="my-4">
    <p>To use select activities and and then create report. Reports are stored in the downloads folder.</p>
    <button id="activities" class="btn btn-primary btn-lg" role="button">
        View Last Activities
    </button>
</div>
<div class="wpx-800 fill-height" *ngIf="!activityCheck.menu">
    <button id="home" class="btn btn-primary btn-lg m-3">Home</button>
    <ng-container *ngIf="activityCheck.activities">
        <list-activities class="wp-100 m-3" (report)="$$createReport($event)"></list-activities>
    </ng-container>
    <ng-container *ngIf="activityCheck.report">
        <report class="wp-100 m-3" [chosenActivities]="chosenActivities"></report>
    </ng-container>
</div>