<div *ngIf="activityCheck.menu" id="menu" class="wpx-800 hpx-600">
    <h3>ACTIVITY MONITOR test</h3>

    <div class="detail-list p-3">
        <div id="email" class="detail-list-item m-1 pl-3 pr-3 space-between w-100">
            <span>SAVE EMAIL DETAILS</span>
            <span><i class="fas fa-arrow-circle-right"></i></span>
        </div>
        <div id="activities" class="detail-list-item m-1 pl-3 pr-3 space-between w-100">
            <span>VIEW LAST ACTIVITIES</span>
            <span><i class="fas fa-arrow-circle-right"></i></span>
        </div>
        <div id="report" class="detail-list-item m-1 pl-3 pr-3 space-between w-100">
            <span>CREATE REPORT</span>
            <span><i class="fas fa-arrow-circle-right"></i></span>
        </div>
    </div>
</div>
<div class="wpx-800 hpx-600" *ngIf="!activityCheck.menu">
    <button id="home" class="mat-icon-button" color="accent">Home</button>
    <ng-container *ngIf="activityCheck.activities">
        <list-activities class="wp-100 m-3" (report)="$$createReport($event)"></list-activities>
    </ng-container>
    <ng-container *ngIf="activityCheck.report">
        <report class="wp-100 m-3" [chosenActivities]="chosenActivities"></report>
    </ng-container>
</div>